# Ignore Python cache and bytecode
__pycache__/
*.pyc

# Ignore virtual environments 
venv/


# Ignore data uploads folder 
data/

# Ignore the whole credentials folder
credentials/

# Ignore the Google API key
.env

# Ignore my indexes
indexes