# Ignore Python cache and bytecode
__pycache__/
*.pyc

# Ignore virtual environments
venv/

# Ignore data uploads folder
data/

# Ignore the whole credentials folder
credentials/

# Ignore environment variable files with secrets
.env
.env.*  # ignore any other env variants like .env.local etc.

# Ignore your FAISS index files
indexes/